@media only screen and (min-width : 375px) and (max-width : 812px) {
    .container {
      max-width: 52rem;
    }

    img.twist {
        max-width: 100%;
        margin-left: 0;
        margin-right:0;
        transform: none;

  }}