@media only screen and (min-width : 375px) and (max-width : 812px) {
    .container {
      max-width: 52rem;
    }

    img.twist {
        max-width: 100%;
        margin-left: 0;
        margin-right:0;
        transform: none;

  }

  .cover {
    width: 100%;
    font-size: 2rem;
    line-height:150px;

  
  }

  .cover h1 {
    vertical-align: middle;
    margin-bottom: 0rem;

}