:root {
    --font-color: black;
    --bg-color: snow
}

[data-theme=dark] {
    --font-color: snow;
    --bg-color: #020014
}

html {
    font: 100%/1.75 Merriweather, Georgia, serif;
    color: var(--font-color);
    box-sizing: border-box;
    overflow-y: scroll
}

#footer_list {
    font-size: 1.6em;
    color: #333;
    padding: 0 0 .8rem;
    margin-top: 1rem;
    margin-bottom: 0
}

#footer_list li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    padding-right: 12px
}

#footer_list li a {
    color: var(--font-color)
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px
}

.theme-switch input {
    display: none
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s
}

.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.slider:before {
    background-color: snow;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px
}

input:checked+.slider {
    background-color: #464646
}

.slider.round .stars {
    opacity: 0
}

input:checked+.slider.round .stars {
    opacity: 1;
    transition: opacity 1s ease-in
}

.slider.round .stars {
    position: absolute;
    background-color: snow;
    opacity: 0;
    border-radius: 100%
}

.slider.round .stars--1 {
    top: 18px;
    left: 8px;
    width: 2px;
    height: 2px
}

.slider.round .stars--2 {
    top: 20px;
    left: 18px;
    width: 4px;
    height: 4px
}

.slider.round .stars--3 {
    top: 8px;
    left: 15px;
    width: 6px;
    height: 6px
}

.slider.round .crater {
    opacity: 0
}

input:checked+.slider.round .crater {
    opacity: 1;
    transition: opacity 1s ease-in
}

.slider.round .crater {
    position: absolute;
    background-color: silver;
    opacity: 0;
    border-radius: 100%
}

.slider.round .crater--1 {
    top: 18px;
    right: 8px;
    width: 2px;
    height: 2px
}

.slider.round .crater--2 {
    top: 20px;
    right: 18px;
    width: 4px;
    height: 4px
}

.slider.round .crater--3 {
    top: 8px;
    right: 15px;
    width: 6px;
    height: 6px
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: snow
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

body,
html {
    height: 100%;
    margin: 0
}

body {
    font-size: 18px;
    background-color: var(--bg-color)
}

::selection {
    background: #fff200
}

p {
    margin-bottom: 1.75rem;
    margin-top: .5rem
}

mark {
    background: #fff200;
    padding: 5px 10px
}

.date {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    padding-top: .2rem;
    margin-bottom: 1rem!important
}

h1 {
    margin-bottom: 1.75rem;
    color: inherit;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0!important
}

h3 a {
    font-family: Montserrat;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: none;
    color: #333;
    font-weight: 700
}

h3 a:hover {
    color: #d80053
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.75rem
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

img.twist {
    max-width: 110%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0
}

img.default {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0
}

.imgmeta {
    border-bottom: 1px solid #d1d1d1;
    padding: 8px 0;
    margin-top: -.8rem;
    margin-bottom: 1.75rem
}

ul.bullets {
    padding-inline-start: 0
}

li.bullets {
    list-style: none;
    position: relative;
    padding-left: 30px;
    line-height: 2;
    font-size: 18px;
    margin-top: 1rem
}

li.bullets:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 0;
    font-size: 18px
}

li.bullets:before {
    content: "\f135"
}

li.bullets:hover:before {
    color: #d80053
}

.p-counter-link__count {
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #333;
    display: inline-block;
    padding: 1px 8px;
    font-size: 13.5px
}

p.more {
    font-family: Montserrat;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 700
}

.imgcaption {
    font-family: Montserrat;
    font-weight: 400;
    font-size: .75rem;
    opacity: .75
}

hr {
    margin-bottom: calc(1.75rem - 1px);
    background: #d1d1d1;
    border: none;
    height: 1px
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    padding: 2.625rem 1.3125rem
}

.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem
}

.header {
    font-size: 2rem
}

.header a {
    text-decoration: none
}

.tweetembed {
    margin-bottom: 1.75rem
}

@media only screen and (min-width:375px) and (max-width:812px) {
    .container {
        max-width: 52rem
    }
    img.twist {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        transform: none
    }
    .cover {
        width: 100%;
        font-size: 2rem;
        line-height: 150px
    }
    .cover h1 {
        vertical-align: middle;
        margin-bottom: 0
    }
}